*.iml
.idea/
.DS_Store
assets/iso/
assets/package/
box/*.box
iso/*.iso
!/iso/README.md
/output-vmware/
/output-vmware-iso/
/output-vmware-vmx/
/output-virtualbox/
/output-virtualbox-iso/
/output-virtualbox-ovf/
/*.box
/packer_cache/

*.7z
*.bz2
*.bzip
*.bzip2
*.deb
*.dmg
*.exe

*.gz
*.img
*.iso
*.msi
*.msu
*.pkg
*.py[co]
*.rpm
*.tar.bz2
*.tar.gz
*.tar.xz
*.zip
