*.iml
.idea/

.DS_Store
/box/*.box
/iso/*.iso
!/iso/README.md
/output-vmware/
/output-vmware-iso/
/output-vmware-vmx/
/output-virtualbox/
/output-virtualbox-iso/
/output-virtualbox-ovf/
/packer_cache/


*.box

*.tar
*.tar.xz
*.tar.gz
*.tar.bz
*.tar.bz2
*.tar.bzip2

*.zip
*.dmg
*.deb
*.rpm
*.7z
*.ms[iu]

*.py[co]
